In [53]:
import pandas as pd
import torch
import numpy as np
import torch.nn as nn
import torch.nn.functional as F
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import datetime

In [54]:
class Model(nn.Module):
    def __init__(self,input,h1,h2,output):
        super().__init__()
        self.fc1 = nn.Linear(input,h1)
        self.fc2 = nn.Linear(h1,h2)
        self.out = nn.Linear(h2,output)
    
    
    def forward(self,x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.out(x)
        return x

In [55]:
model = Model(2,10,5,1)

In [56]:
loss_fn = nn.MSELoss()
optimiser = torch.optim.Adam(model.parameters(),lr=0.01)

In [57]:
df = pd.read_csv("houses.csv" , usecols=["LotFrontage","LotArea","SalePrice"])
df.head()

   LotFrontage  LotArea  SalePrice
0         65.0     8450     208500
1         80.0     9600     181500
2         68.0    11250     223500
3         60.0     9550     140000
4         84.0    14260     250000

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LotFrontage  1201 non-null   float64
 1   LotArea      1460 non-null   int64
 2   SalePrice    1460 non-null   int64
dtypes: float64(1), int64(2)
memory usage: 34.3 KB

In [59]:
X = df.drop("SalePrice", axis=1)
X.head()
y = df["SalePrice"]
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [60]:
X

      LotFrontage  LotArea
0            65.0     8450
1            80.0     9600
2            68.0    11250
3            60.0     9550
4            84.0    14260
...           ...      ...
1455         62.0     7917
1456         85.0    13175
1457         66.0     9042
1458         68.0     9717
1459         75.0     9937

[1460 rows x 2 columns]

In [61]:
X = torch.tensor(X.values, dtype=torch.float)
y = torch.tensor(y.values, dtype=torch.float)

In [62]:
epochs = 1000

losses = []
for i in range(epochs):
    y_pred = model(X)
    loss = torch.sqrt(loss_fn(y_pred,y))
    losses.append(loss.detach().numpy())
    
    if i%10==0:
        print("Epoch: {} , Loss: {}".format(i,loss))

    
    optimiser.zero_grad()
    loss.backward()
    optimiser.step()

Epoch: 0 , Loss: nan
Epoch: 10 , Loss: nan
Epoch: 20 , Loss: nan
Epoch: 30 , Loss: nan
Epoch: 40 , Loss: nan
Epoch: 50 , Loss: nan

/home/priyansh/.local/lib/python3.10/site-packages/torch/nn/modules/loss.py:535: UserWarning: Using a target size (torch.Size([1460])) that is different to the input size (torch.Size([1460, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

Epoch: 60 , Loss: nan

Epoch: 70 , Loss: nan
Epoch: 80 , Loss: nan
Epoch: 90 , Loss: nan
Epoch: 100 , Loss: nan
Epoch: 110 , Loss: nan
Epoch: 120 , Loss: nan
Epoch: 130 , Loss: nan
Epoch: 140 , Loss: nan
Epoch: 150 , Loss: nan
Epoch: 160 , Loss: nan
Epoch: 170 , Loss: nan
Epoch: 180 , Loss: nan
Epoch: 190 , Loss: nan
Epoch: 200 , Loss: nan
Epoch: 210 , Loss: nan
Epoch: 220 , Loss: nan
Epoch: 230 , Loss: nan
Epoch: 240 , Loss: nan
Epoch: 250 , Loss: nan
Epoch: 260 , Loss: nan
Epoch: 270 , Loss: nan
Epoch: 280 , Loss: nan
Epoch: 290 , Loss: nan
Epoch: 300 , Loss: nan
Epoch: 310 , Loss: nan
Epoch: 320 , Loss: nan
Epoch: 330 , Loss: nan
Epoch: 340 , Loss: nan
Epoch: 350 , Loss: nan
Epoch: 360 , Loss: nan
Epoch: 370 , Loss: nan
Epoch: 380 , Loss: nan
Epoch: 390 , Loss: nan
Epoch: 400 , Loss: nan
Epoch: 410 , Loss: nan
Epoch: 420 , Loss: nan
Epoch: 430 , Loss: nan
Epoch: 440 , Loss: nan
Epoch: 450 , Loss: nan
Epoch: 460 , Loss: nan
Epoch: 470 , Loss: nan
Epoch: 480 , Loss: nan
Epoch: 490 , Loss: nan
Epoch: 500 , Loss: nan
Epoch: 510 , Loss: nan
Epoch: 520 , Loss: nan
Epoch: 530 , Loss: nan
Epoch: 540 , Loss: nan
Epoch: 550 , Loss: nan
Epoch: 560 , Loss: nan
Epoch: 570 , Loss: nan
Epoch: 580 , Loss: nan
Epoch: 590 , Loss: nan
Epoch: 600 , Loss: nan
Epoch: 610 , Loss: nan
Epoch: 620 , Loss: nan
Epoch: 630 , Loss: nan
Epoch: 640 , Loss: nan
Epoch: 650 , Loss: nan
Epoch: 660 , Loss: nan
Epoch: 670 , Loss: nan
Epoch: 680 , Loss: nan
Epoch: 690 , Loss: nan
Epoch: 700 , Loss: nan
Epoch: 710 , Loss: nan
Epoch: 720 , Loss: nan
Epoch: 730 , Loss: nan
Epoch: 740 , Loss: nan
Epoch: 750 , Loss: nan
Epoch: 760 , Loss: nan
Epoch: 770 , Loss: nan
Epoch: 780 , Loss: nan
Epoch: 790 , Loss: nan
Epoch: 800 , Loss: nan
Epoch: 810 , Loss: nan
Epoch: 820 , Loss: nan
Epoch: 830 , Loss: nan
Epoch: 840 , Loss: nan
Epoch: 850 , Loss: nan
Epoch: 860 , Loss: nan
Epoch: 870 , Loss: nan
Epoch: 880 , Loss: nan
Epoch: 890 , Loss: nan
Epoch: 900 , Loss: nan
Epoch: 910 , Loss: nan
Epoch: 920 , Loss: nan
Epoch: 930 , Loss: nan
Epoch: 940 , Loss: nan
Epoch: 950 , Loss: nan
Epoch: 960 , Loss: nan
Epoch: 970 , Loss: nan
Epoch: 980 , Loss: nan
Epoch: 990 , Loss: nan